<title><%= t "HomePage.title" %></title>
    
    <section class = "user_info">
        <aside>
        
            <h3>Svi korisnici:</h3>
            
            <% User.all.each do |x| %>
                
                <div class = "col-md-2"> 
                    <%= gravatar_for x %> 
                    <p>
                        <span class="glyphicon glyphicon-user"></span> <%= x.id %>.</br>
                        Ime: <%= x.name %> </br>
                        <% unless x.admin?(x.id) %>
                            Korisnik
                            <% else%>
                            Administrator <%# x.admin?(x.id) %>
                        <% end%>
                    </p>
                </div>
         
             <br style="clear:both" />
             
            <% end %>
       
        </section>
        
        <section class = "ispod_user_info">
        
            
        
        </section>
    
    </aside>
