
        <div class="panel panel-success filterable povezani_table">
            <div class="panel-heading">
                <h3 class="panel-title">Potencijalna povezana pravna lica<div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div> 
                </h3>
            </div>
      
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="MatiÄni broj" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Poreski broj" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Poslovno ime" disabled></th>
                    </tr>
                </thead>
                <tbody>
                <%# @povezani = pretraga_povezanih(@zastupnici, @ostali_zastupnici, @nadzorni_odbor, @upravni_odbor, @clanovi, @company) %>
                <% @povezani = pretraga_povezanih(@company) %>
                <% @povezani.each_with_index do |x,i| %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= link_to x.MB.to_s, company_path(x.id) %></td>
                        <td><%= x.PIB %></td>
                        <td><%= x.poslovno_ime %></td>
                    <tr>
                   <% end %>
                </tbody>
            </table>
        </div>
   
    