<title><%= t "ContactPage.title" %></title>


        <div class="col-sm-12 text-center bootstrap-welcome">
          
          <span class="label label-default">Default</span>
          <span class="label label-primary">Primary</span>
          <span class="label label-success">Success</span>
          <span class="label label-info">Info</span>
          <span class="label label-warning">Warning</span>
          <span class="label label-danger">Danger</span>

          <h1><%= t "ContactPage.text" %></h1>
            <p class="lead"></p>
            <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/vlada.bukvic" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            </ul>
            
            <ul class="list-inline">
            <li>
                <a href="https://rs.linkedin.com/in/vladimirbukvic" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                
            </li>
            <li>
                <a href="https://github.com/WVlada" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
                <a href="https://github.com/WVlada/apr-web-scraper" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Current project</span></a>
            </li>
            </ul>
        </div>
      
