<title><%= t "ContactPage.title" %></title>


        <div class="col-sm-12 text-center bootstrap-welcome">
          
          <span class="label label-default">Default</span>
          <span class="label label-primary">Primary</span>
          <span class="label label-success">Success</span>
          <span class="label label-info">Info</span>
          <span class="label label-warning">Warning</span>
          <span class="label label-danger">Danger</span>

          <h1><%= t "ContactPage.text" %></h1>
            <p class="lead">Parametri: <%= params %></p>
        
        </div>
