<title><%= t "UsergraphPage.title" %></title>


        <div class="col-sm-12 text-center bootstrap-welcome">
          
          
          <h1><%= t "UsergraphPage.text" %></h1>
            <p class="lead"></p>
            
        </div>
      
