<title><%= t "UsergraphPage.title" %></title>


        <div class="col-sm-12 text-center bootstrap-welcome">
          
          <span class="label label-default">Default</span>
          <span class="label label-primary">Primary</span>
          <span class="label label-success">Success</span>
          <span class="label label-info">Info</span>
          <span class="label label-warning">Warning</span>
          <span class="label label-danger">Danger</span>

          <h1><%= t "UsergraphPage.text" %></h1>
            <p class="lead"></p>
            
        </div>
      
