.red {
    margin-top: 5px;
    background: #e6e6e6 !important;
    border-radius: 10px;
}

.ime_i_prezime {
    display:inline-block;
    text-align: left;
}

.broj {
    display:inline-block;
    text-align: right;
    width: 20px;
}
.jmbg {
    display: float;
    margin-left:30px;
}

.company_item
{
    border-radius: 10px;
    margin-top: 15px;
}
.company_zastupnici
{
    
}
.company_ostali_zastupnici
{
    
}
.company_upravni_odbor
{
    
}
.company_nadzorni_odbor
{
    
}
.company_clanovi
{
    
}
.ceo_box {
    margin-top: 15px;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 15px;
}
#za_back
{
    margin-bottom: 60px;
}
.povezani_table {
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cy
{   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}